<link rel="stylesheet" href="/css/public/components/nav.css">

<div class="s-menu-bg h"></div>
{% if G.lang==1 %}
<div data-lang="{{G.lang}}" id="menu" class="s-menu-container">
{% else %}
    <div data-lang="{{G.lang}}" id="menu" class="s-menu-container-ar">
{% endif %}

</div>




<div class="s-nav-container">
    <div class="s-nav-content">
        {% if G.lang==1 %}
            <div class="a-nav-l">
        {% else %}
                <div class="a-nav-r">
        {% endif %}
            <p class="s-nav-menu"></p>
            <p class="a-nav-wish">
                <a href="/wish"></a>
            </p>
        </div>
        <h1 class="a-nav-logo">
            <a href="/">SkyBay</a>
        </h1>
        {% if G.lang==1 %}
        <div class="a-nav-r">
         {% else %}
            <div class="a-nav-l">
            {% endif %}
            <p class="a-nav-search">
                <a href="/search"></a>
            </p>
            <p class="a-nav-cart">
                <a href="/cart"></a>
            </p>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/public/components/nav.js"></script>