<div class="ft-pre-container">
    <div class="ft-pre-content">
        <ul class="ft-pre-list">
            <li class="s-base-a">About</li>
            <li>
                <a class="s-base-a" href="">about skybay</a>
            </li>
            <li>
                <a class="s-base-a" href="">contact us</a>
            </li>
            <li>
                <a class="s-base-a" href="">privacy policy</a>
            </li>
        </ul>
        <ul class="ft-pre-list">
            <li class="s-base-a">Customer service</li>
            <li>
                <a class="s-base-a" href="">about skybay</a>
            </li>
            <li>
                <a class="s-base-a" href="">contact us</a>
            </li>
        </ul>
    </div>
    <div class="ft-share-container">
        <p class="ft-share-title">follow us</p>
        <ul class="ft-pre-share">
            <li>
                <a href="https://www.facebook.com/skybayonlineshopping">
                    <img src="/img/footer/s_facebook.png" alt="share to facebook">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/SkyBay2017">
                    <img src="/img/footer/s_twitter.png" alt="share to twitter">
                </a>
            </li>
        <!--    <li>
                <a href="">
                    <img src="/img/footer/s_pinterest.png" alt="share to pinterest">
                </a>
            </li>-->
            <li>
                <a href="https://www.instagram.com/skybay_official/">
                    <img src="/img/footer/s_instagram.png" alt="share to instagram">
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCUs95qyGIninkFGCDrOmDGQ?view_as=subscriber">
                    <img src="/img/footer/s_youtube.png" alt="share to youtube">
                </a>
            </li>
        </ul>
    </div>

    <div class="ft-subsribe">
        <input id="subsribe_email" type="text" placeholder="Email">
        <button class="subsribe">订阅</button>
    </div>
    <p class="subscribe-tip">邮件订阅，提示文案</p>
    <script type="text/javascript">
        eval(function(p,a,c,k,e,r){e=String;if('0'.replace(0,e)==0){while(c--)r[e(c)]=k[c];k=[function(e){return r[e]||e}];e=function(){return'[0-4]'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('2 3=1.querySelector(".subsribe");3.onclick=function(){2 0=1.createElement("0");0.type="text/javascript";0.src="/4/public/components/subscribe.4";1.body.appendChild(0)}',[],5,'script|document|var|subsribeDom|js'.split('|'),0,{}))
    </script>
</div>